body {
	--theme-color-primary: #648ca6;
	--theme-color-secondary: #394263;
	--theme-color-tertiary: #547c96;
	--theme-color-accent: #394263;

	--theme-color-page-bg: #fafafa;
	--theme-color-page-text: white;
	--theme-color-page-text-secondary: white;
	--theme-color-page-shadow: gray;

	--theme-color-section-background: white;
	--theme-color-group-background: #1d1d1d;

	--theme-color-sidenav-category: #a8a8a8;
	--theme-color-sidenav-item: white;
	--theme-color-sidenav-hover: rgba(255, 255, 255, 0.2);

	--theme-color-content-bg: white;
	--theme-color-content-shadow: lightgray;
	--theme-color-content-border: lightgray;
	--theme-color-content-text: black;
	--theme-color-content-hover-bg: #efefef;

	--theme-button-font-weight: normal;

	--theme-checkbox-border-width: 1px;
	--theme-checkbox-hover-background: rgba(0, 0, 0, 0.1);
}