#alert-box{
	position: absolute;
	width: calc(100% - 20px);
	height: 43px;
	bottom: 0;
	left: 0;
	padding-left: 10px; 
	padding-right: 10px; 
	display: inline-flex;
	align-items: center;
	font-family: 'Open Sans',sans-serif;
	z-index: 5;
	color: var(--theme-color-page-text);
	bottom: -100%;
	opacity: 0;
	background-color: red;
	color: white;
}