body {
	position: absolute;
	margin: 0;
	background-color: var(--theme-color-page-bg);
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow-y: hidden;
}

.login-container {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: var(--theme-color-content-bg);
	box-shadow: 2px 2px 2px 2px var(--theme-color-content-shadow);
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	border-radius: 5px;
}

.login-list {
	padding: 0;
	list-style-type: none;
	justify-content: space-between;
	display: block;
	margin: 0;
}

.login-title {
	font-family: 'Open Sans', sans-serif;
	text-decoration: none;
	color: var(--theme-color-page-text);
	display: block;
	margin-bottom: 20px;
}

.login-title > a {
	color: rgb(95, 95, 95);
}

.login-list-item {
	position: relative;
	text-align: center;
	width: 100%;
	margin-top: 5px;
}

.login-list-item > input, .login-list-item > a {
	font-family: 'Open Sans', sans-serif;
	text-decoration: none;
	color: var(--theme-color-page-text);
	background-color: transparent;
	outline: none;
	text-decoration: none;
	padding: 10px 0px 10px 0px;
	display: block;
	border: 0;
	width: 100%;
}

.login-list-item > input {
	border-bottom: 1px solid rgb(95, 95, 95);
	margin: 0;
	margin-left: 10px;
	width: calc(100% - 20px);
}

.login-button > input, .register-button > input {
	border: 0;
	margin: 0;
	margin-left: 10px;
	width: calc(100% - 20px);
}

.login-button {
	margin-top: 10px;
}

.register-button {
	margin-top: 0;
}

.login-button:hover, .register-button:hover {
	background-color: rgba(46, 46, 46, 0.2);
	cursor: pointer;
}

.login-list-item > a:visited, .login-list-item > a:hover, .login-list-item > a:active {
	color: var(--theme-color-page-text);
	text-decoration: none;
}

/* Non-mobile styles for side nav responsiveness, 750px breakpoint */
@media only screen and (min-width: 46.875em) {

	.login-container {
		position: absolute;
		left: calc(50% - 200px);
		top: auto;
		width: 400px;
		height: auto;
	}

}